@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to top, #001523, #002137);
  --foreground: #ffffff;
}



body {
  color: var(--foreground);
  background: var(--background);
  background-attachment: fixed; /* Keeps gradient fixed while scrolling */
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
