@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to top, #0b1018, #121c30);
  --foreground: #ffffff;
}



body {
  color: var(--foreground);
  background: var(--background);
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
