@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3b82f6;
  --secondary: #d9e8ff;
  --secondary-transparent: #ffffff;
  --secondary-text: #5c6673;
  --background: #f4f4f4;
  --foreground: #000000;
}

html.dark {
  --primary: #3b82f6;
  --secondary: #374151;
  --secondary-transparent: #1f2937;
  --secondary-text: #9ca3af;
  --background: #111827;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-attachment: fixed;
  background-size: cover;
}

/* app/globals.css */
.fade-enter {
  opacity: 0;
  transform: translateX(20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
