@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3b82f6;
  --secondary: #d9e8ff;
  --secondary-transparent: #ffffff;
  --secondary-text: #5c6673;
  --secondary-light: #ffffff;
  --background: #f2f9ff;
  --foreground: #000000;
}

/* :root {
  --primary: #676fa3;
  --secondary: #cddeff;
  --secondary-transparent: #ffffff;
  --secondary-text: #5c6673;
  --secondary-light: #ffffff;
  --background: #eef2ff;
  --foreground: #000000;
} */
/* 
html.dark {
  --primary: #3b82f6;
  --secondary: #1e2a45;
  --secondary-transparent: #172136;
  --secondary-text: #9ca3af;
  --background: #111827;
  --foreground: #ffffff;
} */

html.dark {
  --primary: #3b82f6;
  --secondary: #1e2834;
  --secondary-transparent: #151b24;
  --secondary-light: #171e2870;
  --secondary-text: #9ca3af;
  --background: #11161e;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-attachment: fixed;
  background-size: cover;
}

/* app/globals.css */
.fade-enter {
  opacity: 0;
  transform: translateX(20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
